<div class="container-fluid bg-light py-5 my-5" id="hero_section">
  <div class="row justify-content-center mb-5">
    <div class="col-9 my-5">
      <div class="card position-relative text-bg-light border-0">
        <img class="z-0 position-absolute bottom-0 end-0" style="width: 37rem" src="//via.placeholder.com/1300x550/e66" alt="hero_image"/>
        <div class="card-body z-1 my-5">
          <p class="card-title text-start font-family-sans text-primary fs-1 my-5">Master the art of soft skills through play</p>
          <div class="col-5">
            <p class="card-text text-primary fs-5 my-5">We have carefully curated a range of commercial games that are proven to enhance key soft skills, such as leadership, teamwork, and problem-solving.</p>
            <a href="/account/signin" class="btn btn-primary col-6 font-family-sans text-decoration-none fs-5 text-light text-uppercase">register me!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
