<div class="container-fluid bg-light text-center py-5 my-5" id="hiw_section">
    <div class="row justify-content-center my-5 py-5">
        <div class="col-5 text-right bg-dark py-5 ps-5 m-2">
            <img class="img-fluid" src="//via.placeholder.com/1000x1000/e66"></img>
        </div>
        <div class="col-5 text-start bg-warning p-4 m-2">
            <p class="col-10 text-primary fs-2 fw-bold my-4">Your go-to destination for games that improve your soft skills</p>
            <p class="col-10 text-primary fs-5 my-4">Play, track, and develop important life skills that are critical to success in today's world. Whether you're an individual looking to improve your professional prospects or a company seeking to up-skill your workforce, Soft Skill Games has something for everyone.</p>
            <a href="#" class="btn btn-primary col-5 text-decoration-none fs-5 fw-bold text-light text-uppercase my-4">learn more</a>
        </div>
    </div>
</div>
