// Custom.scss
// Option A: Include all of Bootstrap

// 1. Include any default variable overrides here (though functions won't be available)
$theme-colors: (
    "primary": #052F9C,
    "secondary": #0D2667,
    "info": #88C9F1,
);

@import "../bootstrap/scss/bootstrap";

// Font import
@import 'https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap';

// 2. Include any default variable OVERRIDES here
$theme-colors: (
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

$font-family-sans-serif: 'Fredoka', 'Fredoka One';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// 4. Include any default map OVERRIDES here (to add new colors e.g. $theme-colors: map-merge($theme-colors, $custom-colors);)

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

// 8. Add additional custom code here

.dropdown-toggle::after{ // remove dropdowns arrow
    content: none;
}

.scrollbar-hide::-webkit-scrollbar { // Hide scrollbar for Chrome, Safari and Opera
    display: none;
}
.scrollbar-hide { // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none;  // IE and Edge
    scrollbar-width: none;  // Firefox
}

.shadow-info { // Card with custom shadow
    box-shadow: 0px 0px 30px -10px $info;
}
