<div class="container-fluid bg-light text-center py-5 my-5" id="games_section">
    <div class="row mx-auto my-auto justify-content-center">
        <div>
            <p class="text-dark fs-2 fw-bold">Some of our games</p>
        </div>
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/31f" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/e66" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/7d2" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/aba" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/fc0" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/e66" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 7</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 8</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1500">
                    <div class="col-md-3">
                        <div class="card bg-danger border-0">
                            <div class="card-img p-1">
                                <img src="//via.placeholder.com/150x150/aba" class="img-fluid rounded">
                            </div>
                            <div class="card-img-overlay">Slide 9</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
