<div class="container-fluid bg-light">
    <div class="row mt-5">
        <div class="col-8 offset-2 p-2">
          <div class="card text-bg-light border-light">
            <img src="https://images.unsplash.com/photo-1677297680174-63fea98df131?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1828&q=80" class="card-img img-fluid" alt="homestart">
            <div class="card-img-overlay">
              <p class="card-title text-start text-primary fs-2 fw-bold mb-3">Master the art of soft skills through play</p>
              <div class="col-5"><p class="card-text text-secondary fs-6 fw-normal mb-3">We have carefully curated a range of commercial games that are proven to enhance key soft skills, such as leadership, teamwork, and problem-solving.</p></div>
              <button type="button" class="btn btn-primary"><a class="text-light text-uppercase text-decoration-none" href="/account/signin">register me!</a></button>
            </div>
          </div>
        </div>
    </div>
</div>